# PostgreSQL
POSTGRES_DB=database
POSTGRES_DB_PORT=5432
POSTGRES_USER=user_name
POSTGRES_PASSWORD=some_password
POSTGRES_HOST=hostname

# pgAdmin
PGADMIN_DEFAULT_EMAIL=example@example.com
PGADMIN_DEFAULT_PASSWORD=example_password

# JWT keys
SECRET_KEY_ACCESS=your_key
SECRET_KEY_REFRESH=your_key
JWT_SIGNING_ALGORITHM=algorithm

# EMAIL
MAIL_USERNAME=test@gmail.com
MAIL_PASSWORD=password
MAIL_FROM=test@gmail.com
MAIL_FROM_NAME=service_name
MAIL_PORT=587
MAIL_SERVER=smtp.mail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
SERVICE_URL=http://your_service.com/

#Redis
REDIS_HOST=yourhost
REDIS_PORT=6379
REDIS_BROKER_DB=0
REDIS_BACKEND_DB=1

#AWS S3
AWS_ACCESS_KEY=EXAMPLEKEY
AWS_SECRET_KEY=EXAMPLEKEY
S3_BUCKET=your-app
AWS_REGION=yp=our-region

# Stripe
STRIPE_SECRET_KEY=your-secret-key
STRIPE_WEBHOOK_SECRET=your-webhook-secret-key