# PostgreSQL
POSTGRES_DB=movies_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=some_password
POSTGRES_HOST=localhost

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

# JWT keys
SECRET_KEY_ACCESS=838qKq7dGp34hWij3c8txA5ZD2qm9ybt
SECRET_KEY_REFRESH=cFzRk8kllHMW71wQKLXBqDzl24fkhisw
JWT_SIGNING_ALGORITHM=HS256

# EMAIL
MAIL_USERNAME=test@gmail.com
MAIL_PASSWORD=password
MAIL_FROM=test@gmail.com
MAIL_FROM_NAME=service_name
MAIL_PORT=587
MAIL_SERVER=smtp.mail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
SERVICE_URL=http://your_service.com/

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_BROKER_DB=0
REDIS_BACKEND_DB=1

#AWS S3
AWS_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
S3_BUCKET=my-app-avatars-2025
AWS_REGION=us-east-1
